* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  font-size: 14px;
}

header {
  height: 70px;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    margin: 0;
    color: #51ff46;
    font-size: 25px;
    font-weight: bold;
  }
}

.app {
  background-color: #EEE;
  text-align: center;
  padding: 2em;
  font-weight: bold;
}